#Read Me
Must Run All until Tweepy 4.0 is installed. <br>
Then Restart and Run All

# Importing Libraries

In [ ]:
import matplotlib as plt
import matplotlib.pyplot as pyplot
from time import sleep

In [ ]:
# conda install -c conda-forge tweepy

In [ ]:
import os
import tweepy
import pandas as pd
pd.options.display.max_colwidth = 280

In [ ]:
import requests

In [ ]:
import pandas as pd
import numpy as np

# Authenticating with Twitter

In [2]:
consumer_key = "afxygKWvjyHeYqK2VOudagVF5"
consumer_secret = "s3aiZTpaWJXsqkqzxdhetnGaXSoXyJo5fay0PvaRbe7azGUTdB"
access_token = "133488849-J5PyZGIBiWaZ91gd4EaL9Ni0yaCeUUeevA3pUk3j"
access_token_secret = "39wEmtno1NucvjkT5GrBupwQstmHaPukj3KRFZj48EW31"
bearer_token = "AAAAAAAAAAAAAAAAAAAAANgJegEAAAAA7apqttgkq4Do4dGRoxfB0MD6D6w%3DGTFCK7VJJjA4fR0d0k9XCsrV6h7D36pmLyq6g5Vmnw9ZtZxT7k"

# Querying Tweets

In [3]:
# BUCKET_NAME = 'sw-airlines-data-hub'

In [4]:
# # Create a Cloud Storage client to download the data
# storage_client = storage.Client()

In [5]:
# # Download the data
# data_bucket = storage_client.bucket(BUCKET_NAME)
# blob = data_bucket.blob('Jul-30-2022_@SouthWestAir.csv')
# blob.download_to_filename('Jul-30-2022_@SouthWestAir.csv')

In [6]:
# gs= pd.read_csv('gs://sw-airlines-data-hub/data/source/Jul-30-2022_@SouthWestAir.csv')

In [7]:
# df = pd.read_csv('/Users/jessicaaddai/Downloads/data_source_Jul-30-2022_@SouthWestAir.csv')
# df.info()

In [8]:
pip install tweepy==4.0.0

Collecting tweepy==4.0.0
  Downloading tweepy-4.0.0-py2.py3-none-any.whl (60 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 60.2/60.2 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from tweepy==4.0.0) (2.31.0)
Requirement already satisfied: requests-oauthlib<2,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tweepy==4.0.0) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.11.1->tweepy==4.0.0) (2023.7.22)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib<2,>=1.0.0->tweepy==4.0.0) (3.2.2)
Installing collected packages: tweepy
  Attempting uninstall: tweepy
    Found existing installation: tweepy 4.13.0
    Uninstalling tweepy-4.13.0:
      Successfully uninstalled tweepy-4.13.0
Successfully installed tweepy-4.0.0

In [ ]:
# client = tweepy.Client( bearer_token=bearer_token,
#                         consumer_key=consumer_key,
#                         consumer_secret=consumer_secret,
#                         access_token=access_token,
#                         access_token_secret=access_token_secret,
#                         return_type = requests.Response,
#                         wait_on_rate_limit=True)

In [ ]:
# # Define query
# query = '@SouthWestAir -is:retweet'
# #query = '@United -is:retweet'

# # get max. 100 tweets
# tweets = client.search_recent_tweets(query=query,
#                                     tweet_fields=['author_id', 'created_at','source','possibly_sensitive','public_metrics'],
#                                      max_results=100)

In [ ]:
# # Save data as dictionaryhttp://localhost:8888/notebooks/Downloads/Twitter-%20Data%20Labeling.ipynb#
# tweets_dict = tweets.json()

# # Extract "data" value from dictionary
# tweets_data = tweets_dict['data']


# # Transform to pandas Dataframe
# df = pd.json_normalize(tweets_data)

In [ ]:
# df

# Import data from Google drive

In [10]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/drive/Shareddrives/Capstone_Southwest/Data/data-processed-sw-airlines-tweets-base-over-time.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,edit_history_tweet_ids,name,verified,description,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
, parse_dates=['created_at_x', 'created_at_y']).drop(['Unnamed: 0'],axis=1)

("parse_dates=['created_at_x',",
 "'created_at_y']).drop(['Unnamed:",
 "0'],axis=1)")

In [ ]:
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,edit_history_tweet_ids,name,verified,description,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414867 entries, 0 to 414866
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              414867 non-null  int64
 1   text                            413838 non-null  object
 2   author_id                       413838 non-null  float64
 3   in_reply_to_user_id             186073 non-null  float64
 4   conversation_id                 413838 non-null  float64
 5   created_at                      414867 non-null  object
 6   public_metrics.retweet_count    413838 non-null  float64
 7   public_metrics.reply_count      413838 non-null  float64
 8   public_metrics.like_count       413838 non-null  float64
 9   public_metrics.quote_count      413838 non-null  float64
 10  withheld.copyright              25 non-null      object
 11  withheld.country_codes          25 non-null      object
 12  edit_history_tweet_ids          1593 non-null    object
 13  name                            1029 non-null    object
 14  verified                        1029 non-null    object
 15  description                     796 non-null     object
 16  profile_image_url               1029 non-null    object
 17  username                        1029 non-null    object
 18  public_metrics.followers_count  1029 non-null    float64
 19  public_metrics.following_count  1029 non-null    float64
 20  public_metrics.tweet_count      1029 non-null    float64
 21  public_metrics.listed_count     1029 non-null    float64
dtypes: float64(11), int64(1), object(10)
memory usage: 69.6+ MB

# Tweet level metrics

### Get Usernames from author_id

In [ ]:
# def getUsername(id):
#     _id = id
#     user = client.get_user(id=_id)
#     return user.json()['data']['username']

### Get Number of Retweets from Tweet id

In [ ]:
# def getNumRetweets(tweet_id):
#     # the ID of the tweet
#     ID = tweet_id

#     # getting the retweeters
#     retweets_list = client.get_retweeters(ID,user_auth=True)
#     return retweets_list.json()['meta']['result_count']

In [ ]:
#  for i in range(len(df)):
#     df.loc[i,'Username'] = getUsername(df.loc[i]['author_id'])
# # #     df.loc[i,'NumRetweets'] = getNumRetweets(df.loc[i]['id'])

# User level Metrics

### Get User Metrics

In [ ]:
# def getUserMetrics(client,username): #by username
#     user = client.get_user(username=username,user_fields='public_metrics')
#     return user

In [ ]:
# def getUserMetrics(client,id): #by author id
#     user = client.get_user(id=id,user_fields='public_metrics')
#     return user

### Get Follower:Following Ratio

The higher the ratio, the higher chance the user is legitimate poster. They have more people following them to read tweets.

In [ ]:
# def getFollowerToFollowingRatio(client,id):
#     user = client.get_user(id=id,user_fields='public_metrics')
#     metrics = getUserMetrics(client,id)
#     followers = pd.json_normalize(metrics.json()['data'])['public_metrics.followers_count'][0]
#     following = pd.json_normalize(metrics.json()['data'])['public_metrics.following_count'][0]
#     return str(round(followers/following,2))

In [ ]:
def getFollowerToFollowingRatio(followers, following):
  if following == 0:
    ratio = 0
  else:
    ratio = followers / following
  return ratio

In [ ]:
df['Follower To Following'] = np.vectorize(getFollowerToFollowingRatio)(df['public_metrics.followers_count'], df['public_metrics.followers_count'])
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,name,verified,description,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,Follower To Following
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get Retweet/Tweet Ratio

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414867 entries, 0 to 414866
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              414867 non-null  int64
 1   text                            413838 non-null  object
 2   author_id                       413838 non-null  float64
 3   in_reply_to_user_id             186073 non-null  float64
 4   conversation_id                 413838 non-null  float64
 5   created_at                      414867 non-null  object
 6   public_metrics.retweet_count    413838 non-null  float64
 7   public_metrics.reply_count      413838 non-null  float64
 8   public_metrics.like_count       413838 non-null  float64
 9   public_metrics.quote_count      413838 non-null  float64
 10  withheld.copyright              25 non-null      object
 11  withheld.country_codes          25 non-null      object
 12  edit_history_tweet_ids          1593 non-null    object
 13  name                            1029 non-null    object
 14  verified                        1029 non-null    object
 15  description                     796 non-null     object
 16  profile_image_url               1029 non-null    object
 17  username                        1029 non-null    object
 18  public_metrics.followers_count  1029 non-null    float64
 19  public_metrics.following_count  1029 non-null    float64
 20  public_metrics.tweet_count      1029 non-null    float64
 21  public_metrics.listed_count     1029 non-null    float64
 22  Follower To Following           1029 non-null    float64
dtypes: float64(12), int64(1), object(10)
memory usage: 72.8+ MB

In [ ]:
# def getRetweetToTweetRatio(client,id):
#     user = client.get_user(id=id,user_fields='public_metrics')
#     metrics = getUserMetrics(client,id)
#     followers = pd.json_normalize(metrics.json()['data'])['public_metrics.followers_count'][0]
#     retweets = pd.json_normalize(metrics.json()['data'])['public_metrics.retweet_count'][0] #num retweets
#     tweets = pd.json_normalize(metrics.json()['data'])['public_metrics.tweet_count'][0] #num tweets
#     return str(round(followers/tweets,2))

In [ ]:
#for author in df['author_id']:
    #print(getUsername(author),getRetweetToTweetRatio(client,author))

In [ ]:
def getRetweetToTweetRatio(retweet, tweet):
  if tweet == 0:
    ratio = 0
  else:
    ratio = retweet / tweet
  return ratio

In [ ]:
df['Retweet to Tweet'] = np.vectorize(getFollowerToFollowingRatio)(df['public_metrics.retweet_count'], df['public_metrics.followers_count'])
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,verified,description,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,Follower To Following,Retweet to Tweet
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Verification

In [ ]:
# def verified(client,id):
#     user = client.get_user(id=id,user_fields='verified')
#     # Save data as dictionary
#     user_dict = user.json()
#     # Extract "data" value from dictionary
#     user_data = user_dict['data']
#     return user_data['verified'] == True

In [ ]:
#for author in df['author_id']:
    #print(getUsername(author), verified(client,author))

In [ ]:
# #Checking to see if code works on known verified accounts such as Barack Obama
# barack_test = client.get_user(username='BarackObama',user_fields='verified')

In [ ]:
# # Save data as dictionary
# barack_dict = barack_test.json()

# # Extract "data" value from dictionary
# barack_data = barack_dict['data']

# # Transform to pandas Dataframe
# df_barack = pd.json_normalize(barack_data)

In [ ]:
# barack_dict

In [ ]:
#Checking for Barack
#verified(client,813286)

In [ ]:
#Checking for unverified account to see if it works for teeparks
#verified(client,35031610)

In [ ]:
# for i in range(len(df)):
#     df.loc[i,'Verified'] = verified(client,df.loc[i]['author_id'])

In [ ]:
# df

## Number of Favorites

In [ ]:
# def numoffavorites(tweet_id):
#     # the ID of the tweet
#     ID = tweet_id

#     # getting the retweeters
#     likes_list = client.get_liking_users(ID,user_auth=True)


#     return likes_list.json()['meta']['result_count']

In [ ]:
# for i in range(len(df)):
#     df.loc[i,'Num_of_favorites'] = numoffavorites(df.loc[i]['id'])

In [ ]:
# df

## Profile Image Or Not

In [ ]:
# #Checking to see the URL used by default Twitter image
# nopic_test = client.get_user(username='OsemwengieJeff',user_fields='profile_image_url')
# # Save data as dictionary
# nopic_dict = nopic_test.json()
# nopic_dict

In [ ]:
# #Checking to see the URL used by default Twitter image
# nopic_test2 = client.get_user(username='RankinJunior2',user_fields='profile_image_url')
# # Save data as dictionary
# nopic_dict2 = nopic_test2.json()
# nopic_dict2

In [ ]:
# Checking to see the URL used by default Twitter image
# nopic_test3 = client.get_user(username='Ed_lasagne',user_fields='profile_image_url')
#  Save data as dictionary
# nopic_dict3 = nopic_test3.json()
# nopic_dict3

In [ ]:
# for author in df['author_id']:
#     print(getUsername(author), profile_pic(client,author))

In [ ]:
#Checking to see nopic_dict2
#profile_pic(client,1261124013817880577)

In [ ]:
# for i in range(len(df)):
#     df.loc[i,'Profile_Pic'] = profile_pic(client,df.loc[i]['author_id'])

#### Twitter uses 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png' for users without pics

In [ ]:
def checkPic(link:str) -> bool:
    if link == 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png':
        return False
    else:
        return True

In [ ]:
df['Pic or Not'] = df['profile_image_url'].apply(checkPic)
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,description,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,Follower To Following,Retweet to Tweet,Pic or Not
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [ ]:
df["Pic or Not"].value_counts()

True     414817
False        50
Name: Pic or Not, dtype: int64

In [ ]:
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,description,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,Follower To Following,Retweet to Tweet,Pic or Not
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

### Biography or not

In [ ]:
# def bio(client,id):
#     user = client.get_user(id=id,user_fields='description')
#     # Save data as dictionary
#     user_dict = user.json()
#     # Extract "data" value from dictionary
#     user_data = user_dict['data']
#     if user_data['description']=='':
#         return False
#     else:
#         return True

In [ ]:
# for author in df['author_id']:
#     print(getUsername(author), bio(client,author))

In [ ]:
# for i in range(len(df)):
#     df.loc[i,'Bio'] = bio(client,df.loc[i]['author_id'])

In [ ]:
#Bio or not
df["Bio or Not"] = pd.notnull(df["description"])

In [ ]:
df["Bio or Not"].value_counts()

False    414071
True        796
Name: Bio or Not, dtype: int64

## Tweets with URLs

In [ ]:
import pandas as pd
import re

In [ ]:
def url(x):
    find_url= re.findall(r'https?:\/\/\S*',str(x))
    if len(find_url) > 0:
        return True
    else:
        return False

In [ ]:
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,profile_image_url,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,Follower To Following,Retweet to Tweet,Pic or Not,Bio or Not
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False

In [ ]:
df['url'] = df['text'].transform(lambda x:url(x))

In [ ]:
df

,id,text,author_id,in_reply_to_user_id,conversation_id,created_at,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,...,username,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,Follower To Following,Retweet to Tweet,Pic or Not,Bio or Not,url
0,1571409179830587393,@ywprep @SouthwestAir @IfThenSheCan Am inspired ü•∞... Can't wait to join the profession üíÉüíÉ,1.470579e+18,3.870538e+09,1.400856e+18,2022-09-18T08:01:58.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False
1,1571407508778156032,"@FireGregRoman_ @Ravens @SouthwestAir @Patrickqueen_ Bruh is trash, but so is the talent on this offense besides Lamar and Andrews.",1.332604e+18,1.330829e+18,1.571182e+18,2022-09-18T07:55:20.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False
2,1571402498178691073,"When I picked up my bag in baggage claim it looked like it had been dropped, then dragged on the ground. It had major scrapes, gouges and scuffs on it. Then I couldn‚Äôt get the extendable handle to work right. Now I see why. This is inside after my last @SouthwestAir flight. :...",4.713314e+07,NaN,1.571402e+18,2022-09-18T07:35:25.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True
3,1571392419458912257,"@ILickety @SouthwestAir Yeah, that first one was an ayo!",1.433360e+18,1.305605e+18,1.569687e+18,2022-09-18T06:55:22.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False
4,1571388999641464833,@JudgeSmailsGolf @tkcaddie @SouthwestAir @lagunitasbeer @WildTurkey @McConaughey @tulsaairports @thelonelyisland @69SECChamp @acaseofthegolf1 @robmillertime @ImSchlitzed How'd you like to mow my lawn?,2.991985e+09,7.361791e+08,1.571362e+18,2022-09-18T06:41:47.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414862,1569967578784870400,#914„ÅÆÊó•\n„Çµ„Ç¶„Çπ„Ç¶„Ç®„Çπ„ÉàËà™Á©∫ N914WN B737-7H4(WL)\n#KPHX #PhoenixSkyHarbor #SouthwestAirlines #B737 https://t.co/trthI14Ja2,2.415505e+08,NaN,1.569968e+18,2022-09-14T08:33:34.000Z,0.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True
414863,1569906904146784257,@SouthwestAir goes everywhere \n#adventureswithdana #shenanigans #southwestairlines #southwestpilots #disneyland https://t.co/rw7XJ18zA7 https://t.co/jNoFqXsGmA,3.193626e+09,7.212562e+06,1.569907e+18,2022-09-14T04:32:28.000Z,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True
414864,1569906520883884032,"$LUV in Uptrend: price may ascend as a result of having broken its lower Bollinger Band on August 22, 2022. View odds for this and other indicators: https://t.co/xTB8FAIV81 #SouthwestAirlines https://t.co/Xb58ISMf4o",3.747294e+08,NaN,1.569907e+18,2022-09-14T04:30:56.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True
414865,1569886825732517888,@NewsChannel312 Tell him to make #SouthwestAirlines put his kits on their loud jets!! No other airline at SBA shakes my house - and I‚Äôm up past the Bacara!!,2.126336e+07,5.822801e+08,1.569884e+18,2022-09-14T03:12:40.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False
414866,1569882337302691840,#southwestairlines¬†Southwest Airlines&amp;colon; Select One-Way Flights:from $40 (Travel September-February) + #cashback https://t.co/fMv67xneSq https://t.co/PszwYlL4xp,7.727960e+17,NaN,1.569882e+18,2022-09-14T02:54:50.000Z,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True

## Average Number of Tweets per Hour

In [ ]:


df['num_tweets']=df.groupby('author_id')['conversation_id'].transform('nunique')

In [ ]:

df['earliest_tweet_date']=df.groupby('author_id')['created_at_x'].transform('min')

KeyError: ignored

In [ ]:
df['latest_tweet_date']=df.groupby('author_id')['created_at_x'].transform('max')

In [ ]:
df['hr_diff']=(pd.to_datetime(df['latest_tweet_date'])-pd.to_datetime(df['earliest_tweet_date'])).astype('timedelta64[h]')+0.0000001
df['hr_diff']=df['hr_diff']

In [ ]:
#If there is one tweet per hour, it'll show 1
df['Avg tweets_per_hour']=df['num_tweets']/(df['hr_diff'])
df.sample(10)

## Sentiment Analysis

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

import re
import pandas as pd
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

In [ ]:
df['text'][10]

In [ ]:

sentence = df['text'][10]
sid.polarity_scores(sentence)['compound']

In [ ]:
def cleaner(text):
    tweet = re.sub("@[A-Za-z0-9]+","",str(text)) #Remove @ sign
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", str(text)) #Remove http links
    tweet = " ".join(tweet.split())
    tweet = tweet.lower()
    tweet = tweet.replace("#", "").replace("_", " ") #Remove hashtag sign but keep the text
    tweet = " ".join(w for w in nltk.wordpunct_tokenize(str(text))
         if w.lower() in words or not w.isalpha())
    return text

In [ ]:
df['tweet_clean'] = df['text'].apply(cleaner)

In [ ]:
word_dict = {'manipulate':-1,'manipulative':-1,'southwestiscancelled':-1,'cancelsouthwest':-1,
            'planecrash':-1,'ihatesouthwest':-1,'southwestsucks':-1,'cancelled':-1,'cancel culture':0.4,'teamdelta':-1,'teamsouthwest':1,
            'ilovesouthwest':1,'liar':-1, 'fake':-1,'cancel':-1, 'southweststinks':-1, 'worst flight':-1, 'hate southwest':-1, 'dislike southwest':-1}

import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
sid.lexicon.update(word_dict)

list1 = []
for i in df['tweet_clean']:
    list1.append((sid.polarity_scores(str(i)))['compound'])

In [ ]:
df['sentiment'] = pd.Series(list1)

def sentiment_category(sentiment):
    label = ''
    if(sentiment>0):
        label = 'positive'
    elif(sentiment == 0):
        label = 'neutral'
    else:
        label = 'negative'
    return(label)

df['sentiment_category'] = df['sentiment'].apply(sentiment_category)

In [ ]:
df.sample(10)

In [ ]:
#group positive and negative sentiment and count them by date
neg = df[df['sentiment_category']=='negative']
neg = neg.groupby(['created_at_x'],as_index=False).count()

pos = df[df['sentiment_category']=='positive']
pos = pos.groupby(['created_at_x'],as_index=False).count()

pos = pos[['created_at_x','conversation_id']]
neg = neg[['created_at_x','conversation_id']]

In [ ]:
# import plotly.graph_objs as go

# fig = go.Figure()
# for col in pos.columns:
#     fig.add_trace(go.Scatter(x=pos['created_at'], y=pos['id'],
#                              name = col,
#                              mode = 'markers+lines',
#                              line=dict(shape='linear'),
#                              connectgaps=True,
#                              line_color='green'
#                              )
#                  )

# for col in neg.columns:
#     fig.add_trace(go.Scatter(x=neg['created_at'], y=neg['id'],
#                              name = col,
#                              mode = 'markers+lines',
#                              line=dict(shape='linear'),
#                              connectgaps=True,
#                              line_color='red'
#                              )
#                  )
# fig.show()

In [ ]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
stopwords = set(STOPWORDS)
stopwords.update(["SouthwestAir","https","co","travel","fly", "airline", "airlines" "start"]) #adding our own stopwords

In [ ]:
# Most prominent positive words
import matplotlib.pyplot as plt
from wordcloud import WordCloud
positive = df[df['sentiment_category']=='positive']
wordcloud = WordCloud(max_font_size=50, max_words=500, background_color="white", stopwords=stopwords).generate(str(positive['tweet_clean']))
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
# Most prominent negative words
import matplotlib.pyplot as plt
from wordcloud import WordCloud
negative = df[df['sentiment_category']=='negative']
wordcloud = WordCloud(max_font_size=50, max_words=500, background_color="white", stopwords=stopwords).generate(str(negative['tweet_clean']))
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

Sentiment Timeline

## Exact Tweet Duplicates

In [ ]:
df['duplicates']=df.duplicated(subset=['text'])
df

In [ ]:
df.info()

In [ ]:
# df.to_csv('Capsone_Data.csv', encoding='utf-8')

## Clustering

In [ ]:
# df2=pd.read_csv('/Users/jessicaaddai/Downloads/Capsone_Data.csv')
# df2.head()

## Change from UTC to CST

In [ ]:
from pandas._libs.tslibs.timestamps import Timestamp

In [ ]:
df['created_at'] = df['created_at_x'].dt.tz_convert('US/Central')
df.head()

## Tweet Frequency Visualization - 5 minute interval

In [1]:
year1 = df["created_at"].min().year
month1 = df["created_at"].min().month
day1 = df["created_at"].min().day


hour1 = df["created_at"].min().hour
minute1 = df["created_at"].min().minute

NameError: ignored

In [ ]:
year2 = df["created_at"].max().year
month2 = df["created_at"].max().month
day2 = df["created_at"].max().day


hour2 = df["created_at"].max().hour
minute2 = df["created_at"].max().minute

In [ ]:
tweet_df_5min = df.groupby(pd.Grouper(key='created_at', freq='5Min', convention='start')).size()
tweet_df_5min.plot(figsize=(18,6))
pyplot.ylabel('5 Minute Tweet Count')
pyplot.xlabel('Date')



pyplot.title(str(month1) + '/' + str(day1) + '/' + str(year1) + ' ' + str(hour1) + ':' + str(minute1) + ' CST'
            + ' to ' +
          str(month2) + '/' + str(day2) + '/' + str(year2) + ' ' + str(hour2) + ':' + str(minute2) + ' CST')

pyplot.grid(True)